<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
        Guinea Pug - {{ .Title }}
    {{ end }}</title>
    <meta name="description" content="{{.Params.Summary}}">
    {{ partial "includes.html" . }}
  </head>

  <body>
    <main aria-role="main">
        {{ partial "nav.html" . }}
        {{ partial "breadcrumbs.html" . }}

        <div class="container-lg">
            <div class="row">
                <div class="col-xs-12 col-lg-8 offset-lg-2 content-text-container">
                    <h1>{{.Title}}</h1>
                    <p class="lead intro">
                        by {{.Params.Author}}
                    </p>
                    <p class="intro">Posted on {{dateFormat "Monday, Jan 2, 2020" .Date}}</p>
                    {{.Content}}
                </div>
            </div>

        </div>

    </main>
    {{ partial "footer.html" . }}
  </body>

</html>
