div.highlight {
    margin-bottom: 1rem;

    pre {
        color: $primary;
        font-family: monospace;
        background-color: rgb(202, 202, 202);
        padding: 2rem;
        overflow-x: auto;
    }
}

div.content-text-container {
    p:not(.intro) {
        margin-bottom: 2rem;
    }
}

figcaption {
    font-style: italic;
    padding: 1rem;
    text-align: center;
}

img[src$='#center']
{
    display: block;
    margin: 1rem auto;
}