.masthead {
  padding-top: 5rem;

  .store-link-list{

    li {
      border: none;
      background: none;

      a {
        display: inline-block; 
        img {
          border: 1px solid $secondary;
          border-radius: 6px;
        }
      }
    }
    
  }
}