.site-header, .sub-footer, footer {
    a, p {
        padding: 1rem;
        margin-bottom: 0;
        font-size: 1.2rem;
    }
    
    a {
        &.navbar-brand {
            padding: 0.5rem;
            width: 10rem;
        }
    }
    
}

.breadcrumb {
    background: none;
    padding-left: 0;
    padding-right: 0;

    li {
        font-size: 1.2rem;
    }
}