html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 3rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 3rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1rem;
    }
  }

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-heading;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

a {
    color: rgba($white, .5);
}

a {
    transition: ease-in-out color .15s;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

