@import "_typography";
@import "_masthead";
@import "_menus";
@import "_footer";

body {
    background: $primary-gradient;
    color: $white;
    min-height: 100vh;
}

@include media-breakpoint-up(lg) {
    body {
        padding-top: 5rem;
    }
}
