@import "_typography";
@import "_masthead";
@import "_menus";
@import "_blog";
@import "_buttons";

body {
    background: linear-gradient($primary, #2E1E1E);
    color: $white;
    min-height: 100vh;
}

@include media-breakpoint-up(lg) {
    body {
        padding-top: 5rem;
    }
  }