@import "_typography";
@import "_masthead";
@import "_menus";

body {
    background: linear-gradient($primary, #2E1E1E);
    padding-top: 5rem;
    color: $white;
    min-height: 100vh;
}

figcaption {
  font-style: italic;
  padding: 2px;
  text-align: center;
}

img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}
