<div class="container mb-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 offset-lg-3">
            <h4>Join the conversation on Twitter <span style="padding-left: 0.5rem;"><a
                        href="https://twitter.com/guinea_pug?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                        data-show-count="false"> Follow @guinea_pug</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span></h4>

            <a class="twitter-timeline" data-width="600" data-height="800" data-theme="dark"
                href="https://twitter.com/guinea_pug?ref_src=twsrc%5Etfw">Tweets by guinea_pug</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>
    </div>
</div>