<html>
    <title>Guinea Pug - Coming soon for Android & iOS</title>
    <head>
        {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
    </head>

    <nav class="site-header fixed-top">
        <div class="container d-flex flex-column flex-md-row">

            <a class="navbar-brand mr-auto" href="#" aria-label="Logo">
                {{ $logo := resources.Get "img/gp_logo.svg" | minify}}
                <img src="{{ $logo.Permalink }}" alt="">
              </a>
        
          <a class="d-none d-md-inline-block" href="#">Press kit</a>
          <a class="d-none d-md-inline-block" href="#">About</a>
          <a class="d-none d-md-inline-block" href="#">Contact</a>
        </div>
      </nav>
      
      {{ $bg := resources.Get "img/lg_website_visual.jpg" | minify}}
      <header class="masthead">
            <img src="{{$bg.Permalink }}" class="img-fluid" alt="Responsive image">
      </header>
      
      <footer class="container py-5">
        <div class="row">
          <div class="col-6 mx-auto text-center">
            <h5>Links</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Press kit</a></li>
              <li><a class="text-muted" href="#">About</a></li>
              <li><a class="text-muted" href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </footer>
</html>

